spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:file:./db/globus
    username: local
    password: ${DB_PASSWORD}
    driverClassName: org.h2.Driver
  liquibase:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate

logging:
  level:
    org.hibernate:
      SQL: INFO
